/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f1f1;
  color: #4a4a4a;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Welcome Screen */
#welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  transition: opacity 1s ease;
}

.welcome-content h1 {
  font-size: 2.5rem;
  color: #e91e63;
  margin-bottom: 1rem;
}

.welcome-content p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 2rem;
}

.btn {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #d81b60;
}

/* Playlist Screen */
#playlist-screen {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

#playlist-screen.hidden {
  display: none;
}

.song-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#album-art {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 2rem;
  color: #e91e63;
}

p {
  font-size: 1.1rem;
  color: #555;
  width: 60%;
  margin: 0 auto;
}

/* Lyrics Section */
.lyrics-section {
  margin-top: 2rem;
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.lyrics-section h3 {
  font-size: 1.5rem;
  color: #e91e63;
  margin-bottom: 1rem;
}

.lyrics-section p {
  font-size: 1.1rem;
  color: #444;
  white-space: pre-line; /* Preserve line breaks */
}

/* Controls */
.controls {
  margin-top: 2rem;
}

.controls button {
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  color: white;
  background-color: #e91e63;
  border: none;
  border-radius: 25px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: #d81b60;
}
